POSTGRES_DB=swing_agent
POSTGRES_USER=swing_agent
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

TWELVE_DATA_KEY=
FRED_KEY=
MCP_AUTH_TOKEN=
MCP_NATIVE_PORT=8766
DASHBOARD_PORT=8888
REDIS_PORT=6379
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
